@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");
@import "tailwindcss";

@theme {
  --breakpoint-sm: 700px;
  --breakpoint-md: 900px;
  --breakpoint-lg: 1000;
  --breakpoint-big: 1300;

  --font-custom: "Audiowide", "sans-serif";
}

@layer components {
  .img-gallery {
    @apply w-80 hover:scale-110 transition duration-500 ease-in-out hover:brightness-110 rounded-xl;
  }
}
